<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839010446592-pk254a47n4fgjers31271nq3u2ak62a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839010446592-pk254a47n4fgjers31271nq3u2ak62a1</string>
	<key>API_KEY</key>
	<string>AIzaSyCDdr9tf1o4sdAPOCA8bc8ppjhoY4kJoOA</string>
	<key>GCM_SENDER_ID</key>
	<string>839010446592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitchbaumgartner.BarU</string>
	<key>PROJECT_ID</key>
	<string>baru-831b6</string>
	<key>STORAGE_BUCKET</key>
	<string>baru-831b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839010446592:ios:4f0bc2ed232423be12d7e5</string>
</dict>
</plist>